{
  "openapi": "3.0.0",
  "info": {
    "title": "CoinGecko API",
    "version": "v3.1.0"
  },
  "servers": [
    {
      "url": "https://pro-api.coingecko.com/api/v3"
    },
    {
      "url": "https://api.coingecko.com/api/v3"
    }
  ],
  "security": [
    {
      "proKeyAuth": []
    },
    {
      "demoKeyAuth": []
    }
  ],
  "paths": {
    "/ping": {
      "get": {
        "tags": [
          "Ping"
        ],
        "summary": "Check API server status",
        "description": "This endpoint allows you to **check the API server status**",
        "operationId": "ping-server",
        "responses": {
          "200": {
            "description": "Status OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ping"
                }
              }
            }
          }
        }
      }
    },
    "/key": {
      "get": {
        "tags": [
          "Key"
        ],
        "summary": "\ud83d\udcbc API Usage",
        "description": "This endpoint allows you to **monitor your account's API usage, including rate limits, monthly total credits, remaining credits, and more**",
        "operationId": "api-usage",
        "responses": {
          "200": {
            "description": "API Usage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Key"
                }
              }
            }
          }
        }
      }
    },
    "/simple/price": {
      "get": {
        "tags": [
          "Simple"
        ],
        "summary": "Coin Price by IDs",
        "description": "This endpoint allows you to **query the prices of one or more coins by using their unique Coin API IDs**",
        "operationId": "simple-price",
        "parameters": [
          {
            "name": "vs_currencies",
            "in": "query",
            "description": "target currency of coins, comma-separated if querying more than 1 currency. <br> *refers to [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies).",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "one value": {
                "value": "usd"
              },
              "multiple values": {
                "value": "usd,eur"
              }
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "coins' IDs, comma-separated if querying more than 1 coin. <br> *refers to [`/coins/list`](/reference/coins-list).",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "one value": {
                "value": "bitcoin"
              },
              "multiple values": {
                "value": "bitcoin,ethereum"
              }
            }
          },
          {
            "name": "names",
            "in": "query",
            "description": "coins' names, comma-separated if querying more than 1 coin.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "one value": {
                "value": "Bitcoin"
              },
              "multiple values": {
                "value": "Bitcoin,Ethereum"
              }
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "coins' symbols, comma-separated if querying more than 1 coin.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "one value": {
                "value": "btc"
              },
              "multiple values": {
                "value": "btc,eth"
              }
            }
          },
          {
            "name": "include_tokens",
            "in": "query",
            "description": "for `symbols` lookups, specify `all` to include all matching tokens <br> Default `top` returns top-ranked tokens (by market cap or volume)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "top",
                "all"
              ]
            }
          },
          {
            "name": "include_market_cap",
            "in": "query",
            "description": "include market capitalization, default: false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_24hr_vol",
            "in": "query",
            "description": "include 24hr volume, default: false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_24hr_change",
            "in": "query",
            "description": "include 24hr change, default: false",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_last_updated_at",
            "in": "query",
            "description": "include last updated price time in UNIX, default: false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "precision",
            "in": "query",
            "description": "decimal place for currency price value ",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "0",
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9",
                "10",
                "11",
                "12",
                "13",
                "14",
                "15",
                "16",
                "17",
                "18"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "price(s) of cryptocurrency",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimplePrice"
                }
              }
            }
          }
        }
      }
    },
    "/simple/token_price/{id}": {
      "get": {
        "tags": [
          "Simple"
        ],
        "summary": "Coin Price by Token Addresses",
        "description": "This endpoint allows you to **query a token price by using token contract address**",
        "operationId": "simple-token-price",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "asset platform's ID <br> *refers to [`/asset_platforms`](/reference/asset-platforms-list).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ethereum"
            }
          },
          {
            "name": "contract_addresses",
            "in": "query",
            "description": "the contract addresses of tokens, comma-separated if querying more than 1 token's contract address",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "one value": {
                "value": "0x2260fac5e5542a773aa44fbcfedf7c193bc2c599"
              },
              "multiple values": {
                "value": "0x2260fac5e5542a773aa44fbcfedf7c193bc2c599,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
              }
            }
          },
          {
            "name": "vs_currencies",
            "in": "query",
            "description": "target currency of coins, comma-separated if querying more than 1 currency. <br> *refers to [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies).",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "one value": {
                "value": "usd"
              },
              "multiple values": {
                "value": "usd,eur"
              }
            }
          },
          {
            "name": "include_market_cap",
            "in": "query",
            "description": "include market capitalization, default: false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_24hr_vol",
            "in": "query",
            "description": "include 24hr volume, default: false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_24hr_change",
            "in": "query",
            "description": "include 24hr change <br> default: false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_last_updated_at",
            "in": "query",
            "description": "include last updated price time in UNIX , default: false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "precision",
            "in": "query",
            "description": "decimal place for currency price value ",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "0",
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9",
                "10",
                "11",
                "12",
                "13",
                "14",
                "15",
                "16",
                "17",
                "18"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "price(s) of cryptocurrency",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleTokenPrice"
                }
              }
            }
          }
        }
      }
    },
    "/simple/supported_vs_currencies": {
      "get": {
        "tags": [
          "Simple"
        ],
        "summary": "Supported Currencies List",
        "description": "This endpoint allows you to **query all the supported currencies on CoinGecko**",
        "operationId": "simple-supported-currencies",
        "responses": {
          "200": {
            "description": "list of supported currencies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyList"
                }
              }
            }
          }
        }
      }
    },
    "/coins/list": {
      "get": {
        "tags": [
          "Coins"
        ],
        "summary": "Coins List (ID Map)",
        "description": "This endpoint allows you to **query all the supported coins on CoinGecko with coins ID, name and symbol**",
        "operationId": "coins-list",
        "parameters": [
          {
            "name": "include_platform",
            "in": "query",
            "description": "include platform and token's contract addresses, default: false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "filter by status of coins, default: active",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List all coins with ID, name, and symbol",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinsList"
                }
              }
            }
          }
        }
      }
    },
    "/coins/top_gainers_losers": {
      "get": {
        "tags": [
          "Coins"
        ],
        "summary": "\ud83d\udcbc Top Gainers & Losers",
        "description": "This endpoint allows you to **query the top 30 coins with largest price gain and loss by a specific time duration**",
        "operationId": "coins-top-gainers-losers",
        "parameters": [
          {
            "name": "vs_currency",
            "in": "query",
            "description": "target currency of coins <br> *refers to [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "usd"
            }
          },
          {
            "name": "duration",
            "in": "query",
            "description": "filter result by time range <br> Default value: `24h`",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1h",
                "24h",
                "7d",
                "14d",
                "30d",
                "60d",
                "1y"
              ]
            }
          },
          {
            "name": "top_coins",
            "in": "query",
            "description": "filter result by market cap ranking (top 300 to 1000) or all coins (including coins that do not have market cap) <br> Default value: `1000`",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "300",
                "500",
                "1000",
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List top 30 gainers and losers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopGainersLosers"
                }
              }
            }
          }
        }
      }
    },
    "/coins/list/new": {
      "get": {
        "tags": [
          "Coins"
        ],
        "summary": "\ud83d\udcbc Recently Added Coins",
        "description": "This endpoint allows you to **query the latest 200 coins that recently listed on CoinGecko**",
        "operationId": "coins-list-new",
        "responses": {
          "200": {
            "description": "List latest 200 coins",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinsListNew"
                }
              }
            }
          }
        }
      }
    },
    "/coins/markets": {
      "get": {
        "tags": [
          "Coins"
        ],
        "summary": "Coins List with Market Data",
        "description": "This endpoint allows you to **query all the supported coins with price, market cap, volume and market related data**",
        "operationId": "coins-markets",
        "parameters": [
          {
            "name": "vs_currency",
            "in": "query",
            "description": "target currency of coins and market data <br> *refers to [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "usd"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "coins' IDs, comma-separated if querying more than 1 coin. <br> *refers to [`/coins/list`](/reference/coins-list).",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "one value": {
                "value": "bitcoin"
              },
              "multiple values": {
                "value": "bitcoin,ethereum"
              }
            }
          },
          {
            "name": "names",
            "in": "query",
            "description": "coins' names, comma-separated if querying more than 1 coin.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "one value": {
                "value": "Bitcoin"
              },
              "multiple values": {
                "value": "Bitcoin,Ethereum"
              }
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "coins' symbols, comma-separated if querying more than 1 coin.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "one value": {
                "value": "btc"
              },
              "multiple values": {
                "value": "btc,eth"
              }
            }
          },
          {
            "name": "include_tokens",
            "in": "query",
            "description": "for `symbols` lookups, specify `all` to include all matching tokens <br> Default `top` returns top-ranked tokens (by market cap or volume)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "top",
                "all"
              ]
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "filter based on coins' category <br> *refers to [`/coins/categories/list`](/reference/coins-categories-list).",
            "required": false,
            "schema": {
              "type": "string",
              "example": "layer-1"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "sort result by field, default: market_cap_desc",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "market_cap_asc",
                "market_cap_desc",
                "volume_asc",
                "volume_desc",
                "id_asc",
                "id_desc"
              ]
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "total results per page, default: 100 <br> Valid values: 1...250",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "page through results, default: 1",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "sparkline",
            "in": "query",
            "description": "include sparkline 7 days data, default: false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "price_change_percentage",
            "in": "query",
            "description": "include price change percentage timeframe, comma-separated if query more than 1 price change percentage timeframe <br> Valid values: 1h, 24h, 7d, 14d, 30d, 200d, 1y",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "one value": {
                "value": "1h"
              },
              "multiple values": {
                "value": "1h,24h,7d"
              }
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "language background, default: en",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ar",
                "bg",
                "cs",
                "da",
                "de",
                "el",
                "en",
                "es",
                "fi",
                "fr",
                "he",
                "hi",
                "hr",
                "hu",
                "id",
                "it",
                "ja",
                "ko",
                "lt",
                "nl",
                "no",
                "pl",
                "pt",
                "ro",
                "ru",
                "sk",
                "sl",
                "sv",
                "th",
                "tr",
                "uk",
                "vi",
                "zh",
                "zh-tw"
              ]
            }
          },
          {
            "name": "precision",
            "in": "query",
            "description": "decimal place for currency price value",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "0",
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9",
                "10",
                "11",
                "12",
                "13",
                "14",
                "15",
                "16",
                "17",
                "18"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List all coins with market data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinsMarkets"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}": {
      "get": {
        "tags": [
          "Coins"
        ],
        "summary": "Coin Data by ID",
        "description": "This endpoint allows you to **query all the metadata (image, websites, socials, description, contract address, etc.) and market data (price, ATH, exchange tickers, etc.) of a coin from the CoinGecko coin page based on a particular coin ID**",
        "operationId": "coins-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "coin ID <br> *refers to [`/coins/list`](/reference/coins-list).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "bitcoin"
            }
          },
          {
            "name": "localization",
            "in": "query",
            "description": "include all the localized languages in the response, default: true",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "tickers",
            "in": "query",
            "description": "include tickers data, default: true",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "market_data",
            "in": "query",
            "description": "include market data, default: true",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "community_data",
            "in": "query",
            "description": "include community data, default: true",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "developer_data",
            "in": "query",
            "description": "include developer data, default: true",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sparkline",
            "in": "query",
            "description": "include sparkline 7 days data, default: false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get current data for a coin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinsID"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}/tickers": {
      "get": {
        "tags": [
          "Coins"
        ],
        "summary": "Coin Tickers by ID",
        "description": "This endpoint allows you to **query the coin tickers on both centralized exchange (CEX) and decentralized exchange (DEX) based on a particular coin ID**",
        "operationId": "coins-id-tickers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "coin ID <br> *refers to [`/coins/list`](/reference/coins-list).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "bitcoin"
            }
          },
          {
            "name": "exchange_ids",
            "in": "query",
            "description": "exchange ID <br> *refers to [`/exchanges/list`](/reference/exchanges-list).",
            "required": false,
            "schema": {
              "type": "string",
              "example": "binance"
            }
          },
          {
            "name": "include_exchange_logo",
            "in": "query",
            "description": "include exchange logo, default: false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "page through results",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "use this to sort the order of responses, default: trust_score_desc",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "trust_score_desc",
                "trust_score_asc",
                "volume_desc",
                "volume_asc"
              ]
            }
          },
          {
            "name": "depth",
            "in": "query",
            "description": "include 2% orderbook depth, ie. `cost_to_move_up_usd` and `cost_to_move_down_usd` <br> Default: false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get coin tickers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinsTickers"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}/history": {
      "get": {
        "tags": [
          "Coins"
        ],
        "summary": "Coin Historical Data by ID",
        "description": "This endpoint allows you to **query the historical data (price, market cap, 24hrs volume, ...) at a given date for a coin based on a particular coin ID**",
        "operationId": "coins-id-history",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "coin ID <br> *refers to [`/coins/list`](/reference/coins-list).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "bitcoin"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "the date of data snapshot <br> Format: `dd-mm-yyyy`",
            "required": true,
            "schema": {
              "type": "string",
              "example": "30-12-2017"
            }
          },
          {
            "name": "localization",
            "in": "query",
            "description": "include all the localized languages in response, default: true",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get historical data (name, price, market, stats) at a given date for a coin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinsHistoricalData"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}/market_chart": {
      "get": {
        "tags": [
          "Coins"
        ],
        "summary": "Coin Historical Chart Data by ID",
        "description": "This endpoint allows you to **get the historical chart data of a coin including time in UNIX, price, market cap and 24hr volume based on particular coin ID**",
        "operationId": "coins-id-market-chart",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "coin ID <br> *refers to [`/coins/list`](/reference/coins-list).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "bitcoin"
            }
          },
          {
            "name": "vs_currency",
            "in": "query",
            "description": "target currency of market data <br> *refers to [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "usd"
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "data up to number of days ago <br> You may use any integer or `max` for number of days",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "value-1": {
                "value": "1"
              },
              "value-2": {
                "value": "max"
              }
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "data interval, leave empty for auto granularity",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "5m",
                "hourly",
                "daily"
              ]
            }
          },
          {
            "name": "precision",
            "in": "query",
            "description": "decimal place for currency price value",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "0",
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9",
                "10",
                "11",
                "12",
                "13",
                "14",
                "15",
                "16",
                "17",
                "18"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get historical market data include price, market cap, and 24hr volume (granularity auto)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinsMarketChart"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}/market_chart/range": {
      "get": {
        "tags": [
          "Coins"
        ],
        "summary": "Coin Historical Chart Data within Time Range by ID",
        "description": "This endpoint allows you to **get the historical chart data of a coin within certain time range in UNIX along with price, market cap and 24hr volume based on particular coin ID**",
        "operationId": "coins-id-market-chart-range",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "coin ID <br> *refers to [`/coins/list`](/reference/coins-list).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "bitcoin"
            }
          },
          {
            "name": "vs_currency",
            "in": "query",
            "description": "target currency of market data <br> *refers to [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "usd"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "starting date in UNIX timestamp ",
            "required": true,
            "schema": {
              "type": "number",
              "example": "1609459200"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "ending date in UNIX timestamp",
            "required": true,
            "schema": {
              "type": "number",
              "example": "1640908800"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "data interval, leave empty for auto granularity ",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "5m",
                "hourly",
                "daily"
              ]
            }
          },
          {
            "name": "precision",
            "in": "query",
            "description": "decimal place for currency price value",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "0",
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9",
                "10",
                "11",
                "12",
                "13",
                "14",
                "15",
                "16",
                "17",
                "18"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get historical market data include price, market cap, and 24hr volume (granularity auto)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinsMarketChartRange"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}/ohlc": {
      "get": {
        "tags": [
          "Coins"
        ],
        "summary": "Coin OHLC Chart by ID",
        "description": "This endpoint allows you to **get the OHLC chart (Open, High, Low, Close) of a coin based on particular coin ID**",
        "operationId": "coins-id-ohlc",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "coin ID <br> *refers to [`/coins/list`](/reference/coins-list).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "bitcoin"
            }
          },
          {
            "name": "vs_currency",
            "in": "query",
            "description": "target currency of price data <br> *refers to [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "usd"
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "data up to number of days ago ",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "7",
                "14",
                "30",
                "90",
                "180",
                "365",
                "max"
              ]
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "data interval, leave empty for auto granularity",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "hourly"
              ]
            }
          },
          {
            "name": "precision",
            "in": "query",
            "description": "decimal place for currency price value",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "0",
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9",
                "10",
                "11",
                "12",
                "13",
                "14",
                "15",
                "16",
                "17",
                "18"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get coin's OHLC",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinsOHLC"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}/ohlc/range": {
      "get": {
        "tags": [
          "Coins"
        ],
        "summary": "\ud83d\udcbc Coin OHLC Chart within Time Range by ID",
        "description": "This endpoint allows you to **get the OHLC chart (Open, High, Low, Close) of a coin within a range of timestamp based on particular coin ID**",
        "operationId": "coins-id-ohlc-range",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "coin ID <br> *refers to [`/coins/list`](/reference/coins-list).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "bitcoin"
            }
          },
          {
            "name": "vs_currency",
            "in": "query",
            "description": "target currency of price data <br> *refers to [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "usd"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "starting date in UNIX timestamp",
            "required": true,
            "schema": {
              "type": "number",
              "example": "1709251200"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "ending date in UNIX timestamp",
            "required": true,
            "schema": {
              "type": "number",
              "example": "1709596800"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "data interval",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "hourly"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get coin's OHLC within time range",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinsOHLC"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}/contract/{contract_address}": {
      "get": {
        "tags": [
          "Contract"
        ],
        "summary": "Coin Data by Token Address",
        "description": "This endpoint allows you to **query all the metadata (image, websites, socials, description, contract address, etc.) and market data (price, ATH, exchange tickers, etc.) of a coin from the CoinGecko coin page based on an asset platform and a particular token contract address**",
        "operationId": "coins-contract-address",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "asset platform ID <br> *refers to [`/asset_platforms`](/reference/asset-platforms-list).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ethereum"
            }
          },
          {
            "name": "contract_address",
            "in": "path",
            "description": "the contract address of token",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get current data for a coin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinsContractAddress"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}/contract/{contract_address}/market_chart": {
      "get": {
        "tags": [
          "Contract"
        ],
        "summary": "Coin Historical Chart Data by Token Address",
        "description": "This endpoint allows you to **get the historical chart data including time in UNIX, price, market cap and 24hr volume based on asset platform and particular token contract address**",
        "operationId": "contract-address-market-chart",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "asset platform ID <br> *refers to [`/asset_platforms`](/reference/asset-platforms-list).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ethereum"
            }
          },
          {
            "name": "contract_address",
            "in": "path",
            "description": "the contract address of token",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"
            }
          },
          {
            "name": "vs_currency",
            "in": "query",
            "description": "target currency of market data <br> *refers to [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "usd"
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "data up to number of days ago <br> You may use any integer or `max` for number of days",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "value-1": {
                "value": "1"
              },
              "value-2": {
                "value": "max"
              }
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "data interval, leave empty for auto granularity",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "5m",
                "hourly",
                "daily"
              ]
            }
          },
          {
            "name": "precision",
            "in": "query",
            "description": "decimal place for currency price value",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "0",
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9",
                "10",
                "11",
                "12",
                "13",
                "14",
                "15",
                "16",
                "17",
                "18"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get historical market data include price, market cap, and 24hr volume",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinsMarketChart"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}/contract/{contract_address}/market_chart/range": {
      "get": {
        "tags": [
          "Contract"
        ],
        "summary": "Coin Historical Chart Data within Time Range by Token Address",
        "description": "This endpoint allows you to **get the historical chart data within certain time range in UNIX along with price, market cap and 24hr volume based on asset platform and particular token contract address**",
        "operationId": "contract-address-market-chart-range",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "asset platform ID <br> *refers to [`/asset_platforms`](/reference/asset-platforms-list)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ethereum"
            }
          },
          {
            "name": "contract_address",
            "in": "path",
            "description": "the contract address of token",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"
            }
          },
          {
            "name": "vs_currency",
            "in": "query",
            "description": "target currency of market data <br> *refers to [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "usd"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "starting date in UNIX timestamp",
            "required": true,
            "schema": {
              "type": "number",
              "example": "1609459200"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "ending date in UNIX timestamp",
            "required": true,
            "schema": {
              "type": "number",
              "example": "1640908800"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "data interval, leave empty for auto granularity",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "5m",
                "hourly",
                "daily"
              ]
            }
          },
          {
            "name": "precision",
            "in": "query",
            "description": "decimal place for currency price value",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "0",
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9",
                "10",
                "11",
                "12",
                "13",
                "14",
                "15",
                "16",
                "17",
                "18"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get historical market data include price, market cap, and 24hr volume",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinsMarketChartRange"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}/circulating_supply_chart": {
      "get": {
        "tags": [
          "Coins"
        ],
        "summary": "\ud83d\udc51 Circulating Supply Chart by ID",
        "description": "This endpoint allows you to **query historical circulating supply of a coin by number of days away from now based on provided coin ID**",
        "operationId": "coins-id-circulating-supply-chart",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "coin ID <br> *refers to [`/coins/list`](/reference/coins-list).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "bitcoin"
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "data up to number of days ago <br> Valid values: any integer or `max`",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "value-1": {
                "value": "1"
              },
              "value-2": {
                "value": "30"
              },
              "value-3": {
                "value": "max"
              }
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "data interval",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "daily"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get historical circulating supply chart of a coin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CirculatingSupplyChartBase"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}/circulating_supply_chart/range": {
      "get": {
        "tags": [
          "Coins"
        ],
        "summary": "\ud83d\udc51 Circulating Supply Chart within Time Range by ID",
        "description": "This endpoint allows you to **query historical circulating supply of a coin, within a range of timestamp based on the provided coin ID**",
        "operationId": "coins-id-circulating-supply-chart-range",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "coin ID <br> *refers to [`/coins/list`](/reference/coins-list).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "bitcoin"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "starting date in UNIX timestamp ",
            "required": true,
            "schema": {
              "type": "number",
              "example": "1609459200"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "ending date in UNIX timestamp ",
            "required": true,
            "schema": {
              "type": "number",
              "example": "1640908800"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get historical circulating supply chart of a coin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CirculatingSupplyChartBase"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}/total_supply_chart": {
      "get": {
        "tags": [
          "Coins"
        ],
        "summary": "\ud83d\udc51 Total Supply Chart by ID",
        "description": "This endpoint allows you to **query historical total supply of a coin by number of days away from now based on provided coin ID**",
        "operationId": "coins-id-total-supply-chart",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "coin ID <br> *refers to [`/coins/list`](/reference/coins-list).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "bitcoin"
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "data up to number of days ago <br> Valid values: any integer or `max`",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "value-1": {
                "value": "1"
              },
              "value-2": {
                "value": "30"
              },
              "value-3": {
                "value": "max"
              }
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "data interval",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "daily"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get historical total supply chart of a coin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TotalSupplyChartBase"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}/total_supply_chart/range": {
      "get": {
        "tags": [
          "Coins"
        ],
        "summary": "\ud83d\udc51 Total Supply Chart within time range by ID",
        "description": "This endpoint allows you to **query historical total supply of a coin, within a range of timestamp based on the provided coin ID**",
        "operationId": "coins-id-total-supply-chart-range",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "coin ID <br> *refers to [`/coins/list`](/reference/coins-list).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "bitcoin"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "starting date in UNIX timestamp ",
            "required": true,
            "schema": {
              "type": "number",
              "example": "1609459200"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "ending date in UNIX timestamp ",
            "required": true,
            "schema": {
              "type": "number",
              "example": "1640908800"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get historical total supply chart range of a coin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TotalSupplyChartBase"
                }
              }
            }
          }
        }
      }
    },
    "/asset_platforms": {
      "get": {
        "tags": [
          "Asset Platforms"
        ],
        "summary": "Asset Platforms List (ID Map)",
        "description": "This endpoint allows you to **query all the asset platforms on CoinGecko**",
        "operationId": "asset-platforms-list",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "apply relevant filters to results",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "nft"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List all asset platforms",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetPlatforms"
                }
              }
            }
          }
        }
      }
    },
    "/token_lists/{asset_platform_id}/all.json": {
      "get": {
        "tags": [
          "Asset Platforms"
        ],
        "summary": "\ud83d\udc51 Token Lists by Asset Platform ID",
        "description": "This endpoint allows you to **get full list of tokens of a blockchain network (asset platform) that is supported by [Ethereum token list standard](https://tokenlists.org/)**",
        "operationId": "token-lists",
        "parameters": [
          {
            "name": "asset_platform_id",
            "in": "path",
            "description": "asset platform ID <br> *refers to [`/asset_platforms`](/reference/asset-platforms-list)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ethereum"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List all tokens on CoinGecko based on asset platform ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenLists"
                }
              }
            }
          }
        }
      }
    },
    "/onchain/simple/networks/{network}/token_price/{addresses}": {
      "get": {
        "summary": "Token Price by Token Addresses",
        "tags": [
          "Simple"
        ],
        "description": "This endpoint allows you to **get token price based on the provided token contract address on a network**",
        "operationId": "onchain-simple-price",
        "parameters": [
          {
            "name": "network",
            "in": "path",
            "description": "network ID <br> *refers to [/networks](/reference/networks-list)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "eth"
            }
          },
          {
            "name": "addresses",
            "in": "path",
            "description": "token contract address, comma-separated if more than one token contract address",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "one value": {
                "value": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
              },
              "multiple values": {
                "value": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"
              }
            }
          },
          {
            "name": "include_market_cap",
            "in": "query",
            "description": "include market capitalization, default: false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "mcap_fdv_fallback",
            "in": "query",
            "description": "return FDV if market cap is not available, default: false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_24hr_vol",
            "in": "query",
            "description": "include 24hr volume, default: false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_24hr_price_change",
            "in": "query",
            "description": "include 24hr price change, default: false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_total_reserve_in_usd",
            "in": "query",
            "description": "include total reserve in USD, default: false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get current USD prices of multiple tokens on a network",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnchainSimplePrice"
                }
              }
            }
          }
        }
      }
    },
    "/onchain/networks": {
      "get": {
        "summary": "Supported Networks List (ID Map)",
        "tags": [
          "Networks"
        ],
        "description": "This endpoint allows you to **query all the supported networks on GeckoTerminal**",
        "operationId": "networks-list",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page through results <br> Default value: 1",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get list of supported networks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworksList"
                }
              }
            }
          }
        }
      }
    },
    "/onchain/networks/{network}/dexes": {
      "get": {
        "summary": "Supported Dexes List by Network (ID Map)",
        "tags": [
          "Dexes"
        ],
        "description": "This endpoint allows you to **query all the supported decentralized exchanges (DEXs) based on the provided network on GeckoTerminal**",
        "operationId": "dexes-list",
        "parameters": [
          {
            "name": "network",
            "in": "path",
            "description": "network ID <br> *refers to [/networks](/reference/networks-list)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "eth"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page through results <br> Default value: 1",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get list of supported DEXs on a network",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DexesList"
                }
              }
            }
          }
        }
      }
    },
    "/onchain/networks/trending_pools": {
      "get": {
        "summary": "Trending Pools List",
        "tags": [
          "Pools"
        ],
        "description": "This endpoint allows you to **query all the trending pools across all networks on GeckoTerminal**",
        "operationId": "trending-pools-list",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "attributes to include, comma-separated if more than one to include <br> Available values: `base_token`, `quote_token`, `dex`, `network`. <br> Example: `base_token` or `base_token,dex`",
            "schema": {
              "type": "string"
            },
            "examples": {
              "one value": {
                "value": "base_token"
              },
              "multiple values": {
                "value": "base_token,quote_token,dex"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page through results <br> Default value: 1",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "duration",
            "in": "query",
            "required": false,
            "description": "duration to sort trending list by <br> Default value: 24h",
            "schema": {
              "type": "string",
              "enum": [
                "5m",
                "1h",
                "6h",
                "24h"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get trending pools across all networks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pool"
                }
              }
            }
          }
        }
      }
    },
    "/onchain/networks/{network}/trending_pools": {
      "get": {
        "summary": "Trending Pools by Network",
        "tags": [
          "Pools"
        ],
        "description": "This endpoint allows you to **query the trending pools based on the provided network**",
        "operationId": "trending-pools-network",
        "parameters": [
          {
            "name": "network",
            "in": "path",
            "description": "network ID <br> *refers to [/networks](/reference/networks-list)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "eth"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "attributes to include, comma-separated if more than one to include <br> Available values: `base_token`, `quote_token`, `dex`",
            "schema": {
              "type": "string"
            },
            "examples": {
              "one value": {
                "value": "base_token"
              },
              "multiple values": {
                "value": "base_token,quote_token,dex"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page through results <br> Default value: 1",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "duration",
            "in": "query",
            "required": false,
            "description": "duration to sort trending list by <br> Default value: 24h",
            "schema": {
              "type": "string",
              "enum": [
                "5m",
                "1h",
                "6h",
                "24h"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get trending pools on a network",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pool"
                }
              }
            }
          }
        }
      }
    },
    "/onchain/networks/{network}/pools/{address}": {
      "get": {
        "summary": "Specific Pool Data by Pool Address",
        "tags": [
          "Pools"
        ],
        "description": "This endpoint allows you to **query the specific pool based on the provided network and pool address**",
        "operationId": "pool-address",
        "parameters": [
          {
            "name": "network",
            "in": "path",
            "description": "network ID <br> *refers to [/networks](/reference/networks-list)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "eth"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "pool address",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "attributes to include, comma-separated if more than one to include <br> Available values: `base_token`, `quote_token`, `dex`",
            "schema": {
              "type": "string"
            },
            "examples": {
              "one value": {
                "value": "base_token"
              },
              "multiple values": {
                "value": "base_token,quote_token,dex"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get specific pool on a network",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PoolInfo"
                }
              }
            }
          }
        }
      }
    },
    "/onchain/networks/{network}/pools/multi/{addresses}": {
      "get": {
        "summary": "Multiple Pools Data by Pool Addresses",
        "tags": [
          "Pools"
        ],
        "description": "This endpoint allows you to **query multiple pools based on the provided network and pool address**",
        "operationId": "pools-addresses",
        "parameters": [
          {
            "name": "network",
            "in": "path",
            "description": "network ID <br> *refers to [/networks](/reference/networks-list)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "eth"
            }
          },
          {
            "name": "addresses",
            "in": "path",
            "description": "pool contract address, comma-separated if more than one pool contract address",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "one value": {
                "value": "0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640"
              },
              "multiple values": {
                "value": "0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640,0x0d4a11d5eeaac28ec3f61d100daf4d40471f1852"
              }
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "attributes to include, comma-separated if more than one to include <br> Available values: `base_token`, `quote_token`, `dex`",
            "schema": {
              "type": "string"
            },
            "examples": {
              "one value": {
                "value": "base_token"
              },
              "multiple values": {
                "value": "base_token,quote_token,dex"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get multiple pools on a network",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PoolInfo"
                }
              }
            }
          }
        }
      }
    },
    "/onchain/networks/{network}/pools": {
      "get": {
        "summary": "Top Pools by Network",
        "tags": [
          "Pools"
        ],
        "description": "This endpoint allows you to **query all the top pools based on the provided network**",
        "operationId": "top-pools-network",
        "parameters": [
          {
            "name": "network",
            "in": "path",
            "description": "network ID <br> *refers to [/networks](/reference/networks-list)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "eth"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "attributes to include, comma-separated if more than one to include <br> Available values: `base_token`, `quote_token`, `dex`",
            "schema": {
              "type": "string"
            },
            "examples": {
              "one value": {
                "value": "base_token"
              },
              "multiple values": {
                "value": "base_token,quote_token,dex"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page through results <br> Default value: 1",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "sort the pools by field <br> Default value: h24_tx_count_desc",
            "schema": {
              "type": "string",
              "enum": [
                "h24_tx_count_desc",
                "h24_volume_usd_desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get top pools on a network",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pool"
                }
              }
            }
          }
        }
      }
    },
    "/onchain/networks/{network}/dexes/{dex}/pools": {
      "get": {
        "summary": "Top Pools by Dex",
        "tags": [
          "Pools"
        ],
        "description": "This endpoint allows you to **query all the top pools based on the provided network and decentralized exchange (DEX)**",
        "operationId": "top-pools-dex",
        "parameters": [
          {
            "name": "network",
            "in": "path",
            "description": "network ID <br> *refers to [/networks](/reference/networks-list)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "eth"
            }
          },
          {
            "name": "dex",
            "in": "path",
            "description": "DEX ID <br> *refers to [/networks/{network}/dexes](/reference/dexes-list)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "sushiswap"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "attributes to include, comma-separated if more than one to include <br> Available values: `base_token`, `quote_token`, `dex`",
            "schema": {
              "type": "string"
            },
            "examples": {
              "one value": {
                "value": "base_token"
              },
              "multiple values": {
                "value": "base_token,quote_token,dex"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page through results <br> Default value: 1",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "sort the pools by field <br> Default value: h24_tx_count_desc",
            "schema": {
              "type": "string",
              "enum": [
                "h24_tx_count_desc",
                "h24_volume_usd_desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get top pools on a network's DEX",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pool"
                }
              }
            }
          }
        }
      }
    },
    "/onchain/networks/{network}/new_pools": {
      "get": {
        "summary": "New Pools by Network",
        "tags": [
          "Pools"
        ],
        "description": "This endpoint allows you to **query all the latest pools based on provided network**",
        "operationId": "latest-pools-network",
        "parameters": [
          {
            "name": "network",
            "in": "path",
            "description": "network ID <br> *refers to [/networks](/reference/networks-list)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "eth"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "attributes to include, comma-separated if more than one to include <br> Available values: `base_token`, `quote_token`, `dex`",
            "schema": {
              "type": "string"
            },
            "examples": {
              "one value": {
                "value": "base_token"
              },
              "multiple values": {
                "value": "base_token,quote_token,dex"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page through results <br> Default value: 1",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get latest pools on a network",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pool"
                }
              }
            }
          }
        }
      }
    },
    "/onchain/networks/new_pools": {
      "get": {
        "summary": "New Pools List",
        "tags": [
          "Pools"
        ],
        "description": "This endpoint allows you to **query all the latest pools across all networks on GeckoTerminal**",
        "operationId": "latest-pools-list",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "attributes to include, comma-separated if more than one to include <br> Available values: `base_token`, `quote_token`, `dex`, `network`",
            "schema": {
              "type": "string"
            },
            "examples": {
              "one value": {
                "value": "base_token"
              },
              "multiple values": {
                "value": "base_token,quote_token,dex"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page through results <br> Default value: 1",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get latest pools across all networks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pool"
                }
              }
            }
          }
        }
      }
    },
    "/onchain/pools/megafilter": {
      "get": {
        "summary": "\ud83d\udd25 Megafilter for Pools",
        "tags": [
          "Pools"
        ],
        "description": "This endpoint allows you to **query pools based on various filters across all networks on GeckoTerminal**",
        "operationId": "pools-megafilter",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "attributes to include, comma-separated if more than one to include <br> Available values: `base_token`, `quote_token`, `dex`, `network`",
            "schema": {
              "type": "string"
            },
            "examples": {
              "one value": {
                "value": "base_token"
              },
              "multiple values": {
                "value": "base_token,quote_token,dex"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page through results <br> Default value: 1",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "networks",
            "in": "query",
            "required": false,
            "description": "filter pools by networks, comma-separated if more than one <br> Network ID refers to [/networks](/reference/networks-list)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dexes",
            "in": "query",
            "required": false,
            "description": "filter pools by DEXes, comma-separated if more than one <br> DEX ID refers to [/networks/{network}/dexes](/reference/dexes-list)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "sort the pools by field <br> Default value: h6_trending",
            "schema": {
              "type": "string",
              "enum": [
                "m5_trending",
                "h1_trending",
                "h6_trending",
                "h24_trending",
                "h24_tx_count_desc",
                "h24_volume_usd_desc",
                "h24_price_change_percentage_desc",
                "pool_created_at_desc"
              ],
              "default": "h6_trending"
            }
          },
          {
            "name": "fdv_usd_min",
            "in": "query",
            "required": false,
            "description": "minimum fully diluted value in USD",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "fdv_usd_max",
            "in": "query",
            "required": false,
            "description": "maximum fully diluted value in USD",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "reserve_in_usd_min",
            "in": "query",
            "required": false,
            "description": "minimum reserve in USD",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "reserve_in_usd_max",
            "in": "query",
            "required": false,
            "description": "maximum reserve in USD",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "h24_volume_usd_min",
            "in": "query",
            "required": false,
            "description": "minimum 24hr volume in USD",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "h24_volume_usd_max",
            "in": "query",
            "required": false,
            "description": "maximum 24hr volume in USD",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "pool_created_hour_min",
            "in": "query",
            "required": false,
            "description": "minimum pool age in hours",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "pool_created_hour_max",
            "in": "query",
            "required": false,
            "description": "maximum pool age in hours",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "tx_count_min",
            "in": "query",
            "required": false,
            "description": "minimum transaction count",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tx_count_max",
            "in": "query",
            "required": false,
            "description": "maximum transaction count",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tx_count_duration",
            "in": "query",
            "required": false,
            "description": "duration for transaction count metric <br> Default value: 24h",
            "schema": {
              "type": "string",
              "enum": [
                "5m",
                "1h",
                "6h",
                "24h"
              ],
              "default": "24h"
            }
          },
          {
            "name": "buys_min",
            "in": "query",
            "required": false,
            "description": "minimum number of buy transactions",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "buys_max",
            "in": "query",
            "required": false,
            "description": "maximum number of buy transactions",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "buys_duration",
            "in": "query",
            "required": false,
            "description": "duration for buy transactions metric <br> Default value: 24h",
            "schema": {
              "type": "string",
              "enum": [
                "5m",
                "1h",
                "6h",
                "24h"
              ],
              "default": "24h"
            }
          },
          {
            "name": "sells_min",
            "in": "query",
            "required": false,
            "description": "minimum number of sell transactions",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sells_max",
            "in": "query",
            "required": false,
            "description": "maximum number of sell transactions",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sells_duration",
            "in": "query",
            "required": false,
            "description": "duration for sell transactions metric <br> Default value: 24h",
            "schema": {
              "type": "string",
              "enum": [
                "5m",
                "1h",
                "6h",
                "24h"
              ],
              "default": "24h"
            }
          },
          {
            "name": "checks",
            "in": "query",
            "required": false,
            "description": "filter options for various checks, comma-separated if more than one <br> Available values: `no_honeypot`, `good_gt_score`, `on_coingecko`, `has_social`",
            "schema": {
              "type": "string"
            },
            "examples": {
              "one value": {
                "value": "no_honeypot"
              },
              "multiple values": {
                "value": "no_honeypot,good_gt_score,on_coingecko"
              }
            }
          },
          {
            "name": "buy_tax_percentage_min",
            "in": "query",
            "required": false,
            "description": "minimum buy tax percentage",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "buy_tax_percentage_max",
            "in": "query",
            "required": false,
            "description": "maximum buy tax percentage",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "sell_tax_percentage_min",
            "in": "query",
            "required": false,
            "description": "minimum sell tax percentage",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "sell_tax_percentage_max",
            "in": "query",
            "required": false,
            "description": "maximum sell tax percentage",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "TODO",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pool"
                }
              }
            }
          }
        }
      }
    },
    "/onchain/search/pools": {
      "get": {
        "summary": "Search Pools",
        "tags": [
          "Pools"
        ],
        "description": "This endpoint allows you to **search for pools on a network**",
        "operationId": "search-pools",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "search query",
            "schema": {
              "type": "string",
              "example": "weth"
            }
          },
          {
            "name": "network",
            "in": "query",
            "description": "network ID <br> *refers to [/networks](/reference/networks-list)",
            "schema": {
              "type": "string",
              "example": "eth"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "attributes to include, comma-separated if more than one to include <br> Available values: `base_token`, `quote_token`, `dex`",
            "schema": {
              "type": "string"
            },
            "examples": {
              "one value": {
                "value": "base_token"
              },
              "multiple values": {
                "value": "base_token,quote_token,dex"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page through results <br> Default value: 1",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search for pools on a network",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pool"
                }
              }
            }
          }
        }
      }
    },
    "/onchain/pools/trending_search": {
      "get": {
        "summary": "Trending Search Pools",
        "tags": [
          "Pools"
        ],
        "description": "This endpoint allows you to **query all the trending search pools across all networks on GeckoTerminal**",
        "operationId": "trending-search-pools",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "attributes to include, comma-separated if more than one to include <br> Available values: `base_token`, `quote_token`, `dex`, `network`",
            "schema": {
              "type": "string"
            },
            "examples": {
              "one value": {
                "value": "base_token"
              },
              "multiple values": {
                "value": "base_token,quote_token,dex,network"
              }
            }
          },
          {
            "name": "pools",
            "in": "query",
            "required": false,
            "description": "number of pools to return, maximum 10 <br> Default value: 4",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get trending search pools across all networks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrendingPools"
                }
              }
            }
          }
        }
      }
    },
    "/onchain/networks/{network}/tokens/{token_address}/pools": {
      "get": {
        "summary": "Top Pools by Token Address",
        "tags": [
          "Tokens"
        ],
        "description": "This endpoint allows you to **query top pools based on the provided token contract address on a network**",
        "operationId": "top-pools-contract-address",
        "parameters": [
          {
            "name": "network",
            "in": "path",
            "description": "network ID <br> *refers to [/networks](/reference/networks-list)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "eth"
            }
          },
          {
            "name": "token_address",
            "in": "path",
            "description": "token contract address",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0xdac17f958d2ee523a2206206994597c13d831ec7"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "attributes to include, comma-separated if more than one to include <br> Available values: `base_token`, `quote_token`, `dex`",
            "schema": {
              "type": "string"
            },
            "examples": {
              "one value": {
                "value": "base_token"
              },
              "multiple values": {
                "value": "base_token,quote_token,dex"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page through results <br> Default value: 1",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "sort the pools by field <br> Default value: h24_volume_usd_liquidity_desc",
            "schema": {
              "type": "string",
              "enum": [
                "h24_volume_usd_liquidity_desc",
                "h24_tx_count_desc",
                "h24_volume_usd_desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get top pools for a token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pool"
                }
              }
            }
          }
        }
      }
    },
    "/onchain/networks/{network}/tokens/{address}": {
      "get": {
        "summary": "Token Data by Token Address",
        "tags": [
          "Tokens"
        ],
        "description": "This endpoint allows you to **query specific token data based on the provided token contract address on a network**",
        "operationId": "token-data-contract-address",
        "parameters": [
          {
            "name": "network",
            "in": "path",
            "description": "network ID <br> *refers to [/networks](/reference/networks-list)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "eth"
            }
          },
          {
            "name": "address",
            "in": "path",
            "description": "token contract address",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0xdac17f958d2ee523a2206206994597c13d831ec7"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "attributes to include",
            "schema": {
              "type": "string",
              "enum": [
                "top_pools"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get specific token on a network",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              }
            }
          }
        }
      }
    },
    "/onchain/networks/{network}/tokens/multi/{addresses}": {
      "get": {
        "summary": "Tokens Data by Token Addresses",
        "tags": [
          "Tokens"
        ],
        "description": "This endpoint allows you to **query multiple tokens data based on the provided token contract addresses on a network**",
        "operationId": "tokens-data-contract-addresses",
        "parameters": [
          {
            "name": "network",
            "in": "path",
            "description": "network ID <br> *refers to [/networks](/reference/networks-list)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "eth"
            }
          },
          {
            "name": "addresses",
            "in": "path",
            "description": "token contract address, comma-separated if more than one token contract address",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "one value": {
                "value": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
              },
              "multiple values": {
                "value": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,0xdac17f958d2ee523a2206206994597c13d831ec7"
              }
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "attributes to include",
            "schema": {
              "type": "string",
              "enum": [
                "top_pools"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get multiple tokens on a network",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              }
            }
          }
        }
      }
    },
    "/onchain/networks/{network}/tokens/{address}/info": {
      "get": {
        "summary": "Token Info by Token Address",
        "tags": [
          "Tokens"
        ],
        "description": "This endpoint allows you to **query token metadata (name, symbol,  CoinGecko ID, image, socials, websites, description, etc.) based on a provided token contract address on a network**",
        "operationId": "token-info-contract-address",
        "parameters": [
          {
            "name": "network",
            "in": "path",
            "description": "network ID <br> *refers to [/networks](/reference/networks-list)",
            "required": true,
            "schema": {
[...]
